<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/stylesheets/stuffStyle.css">
</head>
<tbody>
    <%- include('partials/navbar') %>
    
    <div class = "container">
        <h2>Employee Details:</h2>

        <div class = "flow-text">
            <a class="btn-small waves-effect waves-light flow-text" href="/list">
                <i class="material-icons left">arrow_back_ios</i>
                Return to Employees
            </a>
        </div>

        <table>
            <tr>
                <th>Employee Name: </th>
                <td> <%= details.employee_name %></td>
            </tr>
            <tr>
                <th>Location: </th>
                <td> <%= details.location %></td>
                <td>  </td>
            </tr>
    
            <tr>
                <th>Start Date: </th>
                <td> <%= details.start_date %></td>
            </tr>
    
            <tr>
                <th>Salary: </th>
                <td> <%= details.salary %> </td>
            </tr>
    
            <tr>
                <th>Rank: </th>
                <td><%= details.rank_name %></td>
            </tr>
            
        </table>
        
        

        <div class = "row flow-text">
            <a class="btn-large waves-effect waves-light flow-text col s2 green modal-trigger" href="#modal1">
                <i class="material-icons left">drive_file_rename_outline</i>
                Edit
            </a>

            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Edit Employee</h4>
                    <form method = "post" action="/list/item/<%= details.id %>">
                        <div class = "row">
                            <div class = "input-field col s6">
                                <h6>Employee Name:</h6>
                                <input type = "text" name = "name" class = "validate" date-length = "32"
                                       value= "<%= details.employee_name %>" required>
                            </div>
                            
                            <div class = "input-field col s6">
                                <h6>Location:</h6>
                                <input value= "<%= details.location %>" name ="location" type="text" class="validate">
                            </div>
                            <br>
                        </div>
                        
                        <div class = "row">
                            <div class = "input-field col s6">
                                <h6>Start Date:</h6>
                                <input value= "<%= details.unformatted_start_date %>" name="start_date" type="date" class="validate" >
                            </div>
        
                            <div class = "input-field col s6">
                                <h6>Salary:</h6>
                                <input value= "<%= details.salary %>" name="salary" type="number" class="validate" >
                            </div>                            
                            <br>
                        </div>
                        
                        <div class="input-field col s6">
                            <select id="rankInput" name="rankid" required>
                            <option value=-1 disabled>Choose employee rank</option>
                            
                            <% for (let i = 0; i < rank.length; i++) { %>
                                <%if (details.rank_id != rank[i].id){%>
                                    <option value = <%= rank[i].id %>><%= rank[i].name %> </option>
                                <%} else {%>
                                    <option selected value= <%rank[i].id%> ><%= rank[i].name%></option>
                                <%}%>
                            <% } %>                       
                            </select>
                            <label for="subjectInput">Subject:</label>
                        </div>                     
                            
                        <div class = "modal-footer">
                            <div class="modal-footer">
                                <button class="modal-close waves-effect waves-green green btn-flat" type = "submit">
                                    <span class="white-text">Submit</span>
                                    <i class="material-icons right" style ="color:white">send</i>
                                </a>
                                
                              </div>
                            
                        </div>
                        
                    </form>
                  



                </div>
                
              </div>

            <a class="btn-large waves-effect waves-light flow-text col push-s8 col s2 red" 
                href="/list/item/<%= details.id %> + /delete">
                <i class="material-icons left">delete</i>
                Delete
            </a>
        </div>

    </div>


    


    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- initialize Materialize elements -->
    <script> M.AutoInit();</script>

    <script src="/scripts/materializeAutoinit.js"></script>
</tbody>



</html>