<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/stylesheets/stuffStyle.css">
</head>
<tbody>
    
    <div class = "container">
        <h2>Trip Details:</h2>

        <div class = "flow-text">
            <a class="btn-small waves-effect waves-light flow-text" href="/list">
                <i class="material-icons left">arrow_back_ios</i>
                Return to Plans
            </a>
        </div>

        <table>
            <tr>
                <th>Trip Name: </th>
                <td> <%= name %></td>
            </tr>
    
            <tr>
                <th>Arrival Location: </th>
                <td> <%= arrival %></td>
            </tr>
    
            <tr>
                <th>Arrival Date: </th>
                <td> <%= a_date %> </td>
            </tr>
    
            <tr>
                <th>End Date: </th>
                <td><%= d_date %></td>
            </tr>
            <tr>
                <th>Locations to visit: </th>
                <td><%= locations %></td>
            </tr>
        </table>
        
        

        <div class = "row flow-text">
            <a class="btn-large waves-effect waves-light flow-text col s2 green modal-trigger" href="#modal1">
                <i class="material-icons left">drive_file_rename_outline</i>
                Edit
            </a>

            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Edit Trip</h4>
                    <form method = "post" action="/item/<%= id %>">
                        <div class = "row">
                            <div class = "Name col s6">
                                <h6>Trip Name:</h6>
                                <input type = "text" name = "name" id = "nameInput" class = "validate" date-length = "64"
                                       value= <%= name %> required>
                            </div>
                            
                            <div class = "Location col s6">
                                <h6>Locations:</h6>
                                <input value= <%= arrival %> id="Location" type="text" class="validate s4">
                            </div>
                            <br>
                        </div>
                        
                        <div class = "row">
                            <div class = "Start Date col s6">
                                <h6>Start Date:</h6>
                                <input value= <%= a_date %> id="Start Date" type="date" class="validate" onfocus = "(this.type='date')">
                            </div>
        
                            <div class = "End Date col s6">
                                <h6>End Date:</h6>
                                <input value= <%= d_date %> id="End Date" type="text" class="validate" onfocus = "(this.type='date')">
                            </div>                            
                            <br>
                        </div>

                        <div class = "row">
                            <h6>Locations to visit:</h6>
                            <input value = <%= locations %> id = "Locations to visit" type = "text" class = "validate">

                        </div>
                            
                        <div class = "modal-footer">
                            <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-green green btn-flat">
                                    <span class="white-text">Submit</span>
                                    <i class="material-icons right" style ="color:white">send</i>
                                </a>
                                
                              </div>
                            
                        </div>
                        
                    </form>
                  



                </div>
                
              </div>

            <a class="btn-large waves-effect waves-light flow-text col push-s8 col s2 red" 
                href="/list/item/<%= id %> + /delete">
                <i class="material-icons left">delete</i>
                Delete
            </a>
        </div>

    </div>


    


    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- initialize Materialize elements -->
    <script> M.AutoInit();</script>
</tbody>



</html>