<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Manager</title>

    <!-- Materialize CSS and Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/stylesheets/stuffStyle.css">
    
</head>
<tbody>
<%- include('partials/navbar') %>
<div class="container">
    <div class="section" id="employeelist">
        <h3>Employee List</h3>
        <table>
            <thead>

                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Starting Date</th>
                    <th>Salary</th>
                    <th>Rank</th>
                </tr>

            </thead>
            <tbody>                
                    <% for (let i = 0; i < all.length; i++) { %>
                    <tr>
                        <td> <%= all[i].employee_name %></td>
                        <td> <%= all[i].location %></td>
                        <td> <%= all[i].start_date %></td>
                        <td> <%= all[i].salary %></td>
                        <td> <%= all[i].rank_name %></td>
                        <td>
                            <a class = "btn-small waves-effect waves-light" 
                                    href = <%= "/list/item/" + all[i].id %>>
                                <i class = "material-icons right">edit</i>Info/Edit
                            </a>
                
                            <a class = "btn-small waves-effect waves-light red"
                                href = "/list/item/<%=all[i].id %> + /delete" %>>
                                <i class = "material-icons right">delete</i>Delete
                            </a>
                
                        </td>
                    </tr>                                               
                <% } %>
            </tbody>
        </table>
    </div>

    <div section = "Add New">
        <h5>Add an Employee:</h5>
        <form method = "post" action="/list">
            <div class = "row">
                <div class = "col s6">
                    <input name = "name" placeholder="Employee Name:" id="name" type="text" class="validate s1" required>
                </div>
                
                <div class = "col s6">
                    <input name = "location" placeholder="Location:" id="location" type="text" class="validate s4" required>
                </div>
                <br>
            </div>
            
            <div class = "row">
                <div class = "col s6">
                    Start Date:
                    <input name = "start_date" id="start_date" type="date" class="validate" required>
                </div>

                <div class = "col s6">
                    Salary:
                    <input name = "salary" placeholder=0 id="salary" type="number" class="validate" required>
                </div>

                <div class="input-field col s6">
                    <select id="rankInput" name="rankid" required>
                    <option value=1 disabled selected>Choose employee rank</option>
                    <% for (let i = 0; i < rank.length; i++) { %>
                        <option value = <%= rank[i].id %>><%= rank[i].name %> </option>
                    <% } %>                       
                    </select>
                    <label for="subjectInput">Subject:</label>
                </div>
                
                <br>
            </div>
                
            
            <button class="btn waves-effect waves-light row push-s2" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>

    

<!-- Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- initialize Materialize elements -->
<script> M.AutoInit();</script>

<script src="/scripts/materializeAutoinit.js"></script>

    

    
</tbody>
</html>